<%- include("partials/head") %>
<body>
   <h1>Home Page</h1> 
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos neque molestias eum ipsa praesentium molestiae atque quae, consequatur, quisquam, adipisci officia distinctio quam? Numquam tenetur labore dignissimos asperiores id expedita.</p>
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto ipsa consequatur totam delectus beatae autem repellendus aliquid sunt soluta animi debitis, voluptatem corrupti! Ipsa repudiandae labore repellat repellendus! Tenetur, optio!</p>
</body>
</html>