<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1>Your random number is: <%= rand %></h1> 
    <% if (rand % 2 ===0){ %>
    <h1>Thats an Even number</h1>
    <% } else { %>
        <h1>Ohhh Thats an Odd number</h1>
    <% } %>

</body>
</html>